/* ----------- Imports ---------------- */
@import "tailwindcss";

/* ----------- Boilerplate CSS ---------- */
:root {

  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(#111F44, #192d62);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
    font-family: var(--font-roboto);
}

h1, h2, h3 {
  font-family: var(--font-poppins);
}


/* ---------- Sidebar Styling ------------- */

@layer components {
  .nav-link {
    @apply relative flex items-center gap-3 text-gray-400 transition-colors duration-300;
  }

  .nav-link::before {
    content: "";
    @apply block h-[2px] w-6 bg-gray-500 transition-all duration-500;
  }

  .nav-link:hover {
    @apply text-white;
  }

  .nav-link:hover::before {
    @apply w-12 bg-blue-400;
  }

  .nav-link.active {
    @apply text-white;
  }

  .nav-link.active::before {
    @apply w-12 bg-blue-400;
  }
}




